<!DOCTYPE html>
{% load staticfiles %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Snoo Knows</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap -->
   <link href="{% static 'you/img/dark_snoo.ico' %}" rel="shortcut icon" type="image/x-icon" />
   <link href="{% static 'you/css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'you/css/basic.css' %}">
</head>
<body style="padding-top: 20px;">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Snoo Knows</a>
	      <p class="navbar-text">Find out what all you've given away on Reddit</p>
	    </div>
	</div>
	</nav>
	<div class="jumbotron vertical-center">
		<div class="container">
			<img src="{% static 'you/img/dark_snoo.png' %}" style="height:300px;width:300px;margin-right:auto;margin-left:auto;display:block;">
         	<div class="input-group" style="margin-top:20px;">
			  <input type="text" class="form-control" placeholder="Reddit Username" aria-describedby="basic-addon2" id="username-input"  onkeypress="return handle_enter(event)">
			  <span class="input-group-btn">
		        <button class="btn btn-default" type="button" id="username-input-btn" onclick="return btnusr_onclick()">Go!</button>
		      </span>
			</div>
		</div>
	</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static 'you/js/bootstrap.min.js' %}"></script>
<script src="{% static 'you/js/basic.js' %}"></script>
</body>
</html>