<!DOCTYPE html>
{% load staticfiles %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>{{ username }} | Snoo Knows</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap -->
   <link href="{% static 'you/css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'you/css/basic.css' %}">

	<script src="{% static 'you/js/Chart.min.js' %}"></script>
	<script src="{% static 'you/js/m_graph.js' %}"></script>

</head>
<body style="padding-top: 20px;">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="../../">Snoo Knows</a>
	      <a class="navbar-text" title="View user on Reddit" href={{ reddituser }}>{{ username }}</a>
	      <a class="navbar-brand" href="../../" style="position: absolute;  right: 0; ">
	        <img alt="Brand" src="{% static 'you/img/dark_snoo.png' %}" style="height:25px;width:25px;">
	      </a>
	    </div>
	</div>
	</nav>
	<div class="jumbotron">
		<div class="container">
         	<div class="row">
		        <div class="col-xs-6">
		        	<h4>Potentially Vulnerable Information</h6>
		        		<p style="font-size:small">Based on your public data on Reddit, an attacker can learn the following about you</p>
		            <!-- fields -->
		            <div class="row">
					  <div class="col-sm-4">[Field]</div>
					  <div class="col-sm-6">[Data]</div>
					  <div class="col-sm-2">[Links]</div>
					</div>
					{% for field in fields_items %}
					<div class="row">
					  <div class="col-sm-4">{{ field.name }}</div>
					  <div class="col-sm-6">{% autoescape off %}{{ field.values }}{% endautoescape %}</div>
					  <div class="col-sm-2">{% autoescape off %}{{ field.links }}{% endautoescape %}</div>
					</div>
					{% endfor %}
		        </div>
		        <div class="col-xs-6">
		        	<h4>Your Vulnerability Score</h6>
        			<p style="font-size:small">After analysing what can be learnt about you, we have assigned you a vulnerability score</p>
		            <!-- score -->
		            <div id="score-dial" class="circle" style="margin-right: auto;margin-left: auto;display: block;">
		            	<strong>
		            	</strong>
		            </div>
		            <p style="font-size:small">The absolute score for your Reddit profile is <b>{{ abs_score }}</b>. This has been calculated using the different weights assigned to each field of information. The weights have been determined using our the observations of our user studies</p>
		        </div>
    		</div>

    		<div class="row" style="margin-top:5%">
    			<h4>Subreddit-wise Vulnerability Distribution</h4>
    			<canvas id="subredChart" width="400" height="400" style="margin-right: auto;margin-left: auto;display: block;"></canvas>
    			<div id="subredLegend"></div>
    			 <p style="font-size:small;margin-top:5%">Hover over the chart segments to learn which on which <b>subreddit you're revealing maximum information</b></p>
    			<script type="text/javascript">
    				data= {{ subred_data }}
    				renderDonutGraph("subredChart",data)
    			</script>
    		</div>

    		<div class="row" style="margin-top:5%">
    			<h4>Minimum Vulnerable Combination</h4>
    			<canvas id="comboChart" width="800" height="400" style="margin-right: auto;margin-left: auto;display: block;"></canvas>
    			<div id="subredLegend"></div>
    			 <p style="font-size:small;margin-top:5%">Analysing the possible combinations of infromation an attacker can retrieve from your profile and data from our research we present a visulaisation. This tells you what <b>percentage of people</b> feel a particular combination of information, in the hands of an attacker, is the m<b>minimum amount of info</b> needed for them to feel threatened.</p>
    			<script type="text/javascript">
    				data={{ combo_data }}
    				labels={{ combo_labels }}
    				renderBarGraph("comboChart",data,labels)
    			</script>
    		</div>
		</div>
	</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static 'you/js/bootstrap.min.js' %}"></script>
<script src="{% static 'you/js/basic.js' %}"></script>
<script src="{% static 'you/js/circle-progress.js' %}"></script>
<script>
    $('#score-dial').circleProgress({
        value: {{ vul_score }},
        size: 200,
        fill: {
            gradient: ["{{gradient_1}}", "{{gradient_2}}"]
        }
    }).on('circle-animation-progress', function(event, progress) {
    	$(this).find('strong').html(parseInt({{ vul_score}} * 100 * progress) + '<i>%</i>');
	});

</script>

</body>
</html>